<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Wheel Bean -->
    <bean id="wheel" class="porsche.di.demo.Wheel">
        <property name="wheelsize" value="19"/>
    </bean>

    <!-- Car Bean -->
    <bean id="car" class="porsche.di.demo.Car">
        <property name="wheelObj" ref="wheel"/>
    </bean>

</beans>
